<link rel="stylesheet" href="../../../../assets/bootstrap-4.0.0-dist/css/bootstrap.min.css">
<div id="gallery" class="container">
    <h1>Popular</h1>
    <div class="image-viewer">
        <a class="thumbnail">
            <img
            src="../../../../assets/images/guitar.jpg"
            data-title="Guitar Tutorial"
            data-description="Most guitar lesson sites force beginners to do boring exercises and drills for months before actually making music. If you’re a beginner at Guitar Tricks you will be making music on day 1, with our beginner Core Learning System."
            />
        </a>
        <a class="thumbnail">
            <img
            src="../../../../assets/images/NASA-Space-Shuttle.jpg"
            data-title="NASA Earth Image"
            data-description="Earth, also called the world[n 5] (and, less frequently, Gaia[n 6] or, in Latin, Terra[26]), is the third planet from the Sun, the densest planet in the Solar System, the largest of the Solar System's four terrestrial planets, and the only astronomical object known to accommodate life. The earliest life on Earth arose at least 3.5 billion years ago."
            />
        </a>
        <a class="thumbnail">
            <img
            src="../../../../assets/images/sls-rocket-art.jpg"
            data-title="NASA Earth Image"
            data-description="Earth, also called the world[n 5] (and, less frequently, Gaia[n 6] or, in Latin, Terra[26]), is the third planet from the Sun, the densest planet in the Solar System, the largest of the Solar System's four terrestrial planets, and the only astronomical object known to accommodate life. The earliest life on Earth arose at least 3.5 billion years ago."
            />
        </a>

        <a class="thumbnail">
            <img
            src="../../../../assets/images/earth.jpeg"
            data-title="NASA Earth Image"
            data-description="Earth, also called the world[n 5] (and, less frequently, Gaia[n 6] or, in Latin, Terra[26]), is the third planet from the Sun, the densest planet in the Solar System, the largest of the Solar System's four terrestrial planets, and the only astronomical object known to accommodate life. The earliest life on Earth arose at least 3.5 billion years ago."
            />
        </a>
        <a class="thumbnail">
            <img
            src="../../../../assets/images/9070851928_555c3a429e_b.jpg"
            data-title="NASA Earth Image"
            data-description="Earth, also called the world[n 5] (and, less frequently, Gaia[n 6] or, in Latin, Terra[26]), is the third planet from the Sun, the densest planet in the Solar System, the largest of the Solar System's four terrestrial planets, and the only astronomical object known to accommodate life. The earliest life on Earth arose at least 3.5 billion years ago."
            />
        </a>
        <a class="thumbnail">
            <img
            src="../../../../assets/images/Des_M_1696838a.jpg"
            data-title="NASA Earth Image"
            data-description="Earth, also called the world[n 5] (and, less frequently, Gaia[n 6] or, in Latin, Terra[26]), is the third planet from the Sun, the densest planet in the Solar System, the largest of the Solar System's four terrestrial planets, and the only astronomical object known to accommodate life. The earliest life on Earth arose at least 3.5 billion years ago."
            />
        </a>

        <a class="thumbnail">
            <img
            src="../../../../assets/images/mar-mission.jpg"
            data-title="NASA Earth Image"
            data-description="Earth, also called the world[n 5] (and, less frequently, Gaia[n 6] or, in Latin, Terra[26]), is the third planet from the Sun, the densest planet in the Solar System, the largest of the Solar System's four terrestrial planets, and the only astronomical object known to accommodate life. The earliest life on Earth arose at least 3.5 billion years ago."
            />
        </a>
        <a class="thumbnail">
            <img
            src="../../../../assets/images/mars-2.jpg"
            data-title="NASA Earth Image"
            data-description="Earth, also called the world[n 5] (and, less frequently, Gaia[n 6] or, in Latin, Terra[26]), is the third planet from the Sun, the densest planet in the Solar System, the largest of the Solar System's four terrestrial planets, and the only astronomical object known to accommodate life. The earliest life on Earth arose at least 3.5 billion years ago."
            />
        </a>
        <a class="thumbnail">
            <img
            src="../../../../assets/images/mars.jpg"
            data-title="NASA Earth Image"
            data-description="Earth, also called the world[n 5] (and, less frequently, Gaia[n 6] or, in Latin, Terra[26]), is the third planet from the Sun, the densest planet in the Solar System, the largest of the Solar System's four terrestrial planets, and the only astronomical object known to accommodate life. The earliest life on Earth arose at least 3.5 billion years ago."
            />
        </a>

        <a class="thumbnail">
            <img
            src="../../../../assets/images/p0140xss.jpg"
            data-title="NASA Earth Image"
            data-description="Earth, also called the world[n 5] (and, less frequently, Gaia[n 6] or, in Latin, Terra[26]), is the third planet from the Sun, the densest planet in the Solar System, the largest of the Solar System's four terrestrial planets, and the only astronomical object known to accommodate life. The earliest life on Earth arose at least 3.5 billion years ago."
            />
        </a>
        <a class="thumbnail">
            <img
            src="../../../../assets/images/sls-rocket-art.jpg"
            data-title="NASA Earth Image"
            data-description="Earth, also called the world[n 5] (and, less frequently, Gaia[n 6] or, in Latin, Terra[26]), is the third planet from the Sun, the densest planet in the Solar System, the largest of the Solar System's four terrestrial planets, and the only astronomical object known to accommodate life. The earliest life on Earth arose at least 3.5 billion years ago."
            />
        </a>
        <a class="thumbnail">
            <img
            src="../../../../assets/images/space_shuttle_launch.jpg"
            data-title="NASA Earth Image"
            data-description="Earth, also called the world[n 5] (and, less frequently, Gaia[n 6] or, in Latin, Terra[26]), is the third planet from the Sun, the densest planet in the Solar System, the largest of the Solar System's four terrestrial planets, and the only astronomical object known to accommodate life. The earliest life on Earth arose at least 3.5 billion years ago."
            />
        </a>
        <div class="preview hide">
            <div class="wrapper">
                <span class="arrow"></span>
                <a class="prev">&larr; Prev</a>
                <div class="preview-content">
                    <img src="" />
                    <div class="content"></div>
                    <h3 class="title"></h3>
                    <span class="description"></span>
                </div>
            </div>
            <a class="next">Next &rarr;</a>
            <a class="close-preview"></a>
        </div>
    </div>
</div>

<script src="js/gallery.js"></script>
<script src="js/main.js"></script>
